.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper input {
  width: 59.625rem;
  height: 4.563rem;
  border-radius: 100px;
  background: #f3f3f3;
  border: 1px solid #e4e2e2;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 1.5rem 0 1.5rem 4.375rem;
  color: black;
}

.wrapper button {
  position: relative;
  left: -2rem;
  width: 11rem;
  height: 4.563rem;
  background: #4285f4;
  border: 1px solid #e4e2e2;
  border-radius: 0px 100px 100px 0px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  line-height: 24.59px;
  cursor: pointer;
}
.wrapper button:hover{
  background: #156dfa;
}
input::placeholder {
  color: black;
}

.wrapper input:focus {
  outline: none;
}
.search-icon {
  position: relative;
  left: 3rem;
  height: 24px;
  width: 24px;
  color: #fbbc05;
}
.search-results {
  height: 15rem;
  width: 59.625rem;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
  border:1px solid black;
  background-color: #fff;
  margin-top: 10px;
 
}
.search-results::-webkit-scrollbar {
  display: none;
}
.row-container-search .row-search{
    display: flex;
    flex-direction: columns;
    justify-content:space-evenly;
    align-items: center;
    margin:0.5rem;
}
.profile-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    
}
/* .data-item {
} */
.row-container-search:hover{
   border: 1px solid;
}
.row-search{
  height: 7rem;
}
.see-profile{
  height: 60px;
  width: 100px;
  border-radius: 5%;
  border:none;
  background-color: #4285f4;
  color: #FFF;
}

@media screen and (max-width: 480px) {
  .wrapper input {
    width: 16rem;
    height: 0.6rem;
    font-size: 12px;
    padding: 1.5rem 0 1.5rem 2.375rem;
  }
  .wrapper button {
    width: 6rem;
    height: 3.2rem;
    font-size: 12px;
    cursor: pointer;
  }
  .search-icon {
    position: relative;
    left: 2rem;
    height: 16px;
    width: 16px;
    color: #fbbc05;
  }
}
